Here's usage for this app:
<br>
<dl>
<dt>- to find a recipe that you have ALL necessary ingredients for:</dt>
<dd>- /app/findfull?params=param1,param2,...</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/findfull?params=milk,egg,butter,parmesan%20cheese,broccoli,cheddar%20cheese</i></dd>
<dd>- returns json list</dd>

<dt>- to find a recipe that you have some ingredients for:</dt>
<dd>- /app/findpartial?params=param1,param2,...</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/findpartial?params=milk,flour</i></dd>
<dd>- returns json list</dd>

<dt>- to get the full ingredients list (global pantry):</dt>
<dd>- /app/inglist</dd>
<dd>- returns json list</dd>

<dt>- to get the full recipe list:</dt>
<dd>- /app/recipelist</dd>
<dd>- returns json list</dd>

<dt>- to get ingredients from a recipe:</dt>
<dd>- /app/ingredientsfromrecipe?name=name</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/ingredientsfromrecipe?name=easy%20quiche</i></dd>
<dd>- returns json list</dd>

<dt>- to get a user's pantry:</dt>
<dd>- /app/ownedpantry?username=user</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/ownedpantry?username=kelly</i></dd>
<dd>- returns json list</dd>

<dt>- to add an item to a user's pantry:</dt>
<dd>- /app/additem?username=user&name=ingredient&is_empty=isEmpty&amount=amt</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/additem?username=kelly&name=flour&is_empty=0&amount=6</i></dd>
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to update the quantity of an item in a user's pantry:</dt>
<dd>- /app/updateitem?username=user&name=ingredient&is_empty=isEmpty&amount=amt</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/updateitem?username=kelly&name=flour&is_empty=1&amount=0</i></dd>
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to delete an item from a user's pantry:</dt>
<dd>- /app/deleteitem?username=uname&name=ingredient</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex: /app/deleteitem?username=kelly&name=cheddar%20cheese</i></dd>
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to find a recipe that a user has ALL indredients for</dt>
<dd>- /app/findfulluser?username=user</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/findfulluser?username=bob</i></dd>
<dd>- returns json list</dd>

<dt>- to find a recipe that a user has SOME ingredients for</dt>
<dd>- /app/findpartialuser?username=user</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/findfulluser?username=bob</i></dd>
<dd>- returns json list</dd>

<dt>- to find recipes that TWO users have ALL ingredients for:</dt>
<dd>- /app/findfullmultiuser?user1=u1&user2=u2</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/findfullmultiuser?user1=kelly&user2=joe</i></dd>
<dd>- returns json list</dd>

<dt>- to find recipes that TWO users have SOME ingredients for</dt>
<dd>- /app/findpartialmultiuser?user1=u1&user2=u2</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/findpartialmultiuser?user1=kelly&user2=joe</i></dd>
<dd>- returns json list</dd>

<dt>- to search for a recipe</dt>
<dd>- /app/search?term=searchTerm</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/search?term=quiche</i></dd>
<dd>- returns json list</dd>

<dt>- to find a user's friends</dt>
<dd>- /app/findfriends?username=user</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/findfriends?username=sally</i></dd> 
<dd>- returns json list</dd>

<dt>- to send a friend request</dt>
<dd>- /app/friendrequest?from=user&first=Firstname&last=Lastname</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/friendrequest?from=kelly&first=Bob&last=Barker</i></dd> 
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to create a user</dt>
<dd>- /app/createuser?username=uname&first=fname&last=lname&password=pass&email=em</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/createuser?username=pooper&first=Ron&last=Weasley&password=poop&email=kedaniels34@gmail.com</i></dd> 
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to authenticate a user</dt>
<dd>- /app/authenticate?username=uname&password=pass</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/authenticate?username=pooper&password=poop</i></dd> 
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to add a recipe</dt>
<dd>- /app/addrecipe?name=name&directions=directionstring&rating=rating&reviews=reviewString
&category=category&time=time&uses_stove=flag&uses_microwave=flag&uses_oven=flag&is_kosher=flag&is_vegetarian=flag&is_nutfree=flag&is_glutenfree=flag&is_lactosefree=flag
<dt></dt></dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/addrecipe?name=Cake&directions=mix%20it%20up%20\n%20cook%20it&rating=5&reviews=this%20shit%20is%20good&category=dessert&time=900&uses_stove=0&uses_microwave=0&uses_oven=1&is_kosher=1&is_vegetarian=1&is_nutfree=1&is_glutenfree=0&is_lactosefree=0
<dt></dt></i></dd> 
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>

<dt>- to add an ingredient to a recipe</dt>
<dd>- /app/addtorecipe?ingredient=name&recipe=name&amount=amount</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/addtorecipe?ingredient=flour&recipe=Cake&amount=5</i></dd> 
<dd>- returns HTTP status code. 200 on success and 400 for failure.</dd>


<dt>- to find a user's empty list</dt>
<dd>- /app/emptylist?username=user</dd>
<dd><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ex. /app/emptylist?username=kelly</i></dd> 
<dd>- returns json list</dd>


<dd></dd>
<dd><i></i></dd> 
<dt></dt>
<dd></dd>
<dd><i></i></dd> 

</dl>
